apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: backend
data:
  application.yaml: |
    server:
      port: 8080
    
    spring:
      application:
        name: backend-service
      datasource:
        url: jdbc:h2:mem:shopdb
        driver-class-name: org.h2.Driver
        username: sa
        password: ""
      h2:
        console:
          enabled: false
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
    
    logging:
      level:
        root: INFO
        com.enterprise: DEBUG
